#subscribe {
    padding: 3rem 0px;
}


#subscribe-form {

    display: flex;
    justify-content: space-around;
    width: 35%;

    margin: 0 auto;
    background: #1d252c;
    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: 100px;


    .email-input {
        font-family: desc-font;
        background-color: transparent;
        color: #fff;
        flex-grow: 1;
        border: 0px;
        padding: 0px 1rem;
        flex-grow: 1;
    }

    .subscribe-submit {
        min-width: 120px !important;
    }
}


.subscribe-socials {
    width: 20%;
    margin: 1rem auto;
}


@media (max-width: 576px) {
    #subscribe-form {
        width: 100%;

        .subscribe-submit {
            padding: 0;
            min-width: 90px !important;
        }
    }

    .subscribe-socials {
        width: 215px;
    }
}
