
#statistics {
    padding-top: 3rem;
    //background: $Section-BG-Even;
    padding-bottom: 5rem;
}



.chart-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    background: #2c1456;
    border-radius: 1rem;
    width: 300px;
    margin: 0 auto;

    #myChart {
        margin-bottom: 3rem;
    }

}
.chart-legends {
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 100%;

    li {
        font-family: desc-font;
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        color: #fff;

        .span-test {
            width: 30px;
            height: 30px;
            margin-right: 1rem;
            border-radius: 0.25rem;
        }

        &:last-child {
            margin-bottom: 0px;
        }
    }
}